*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background:#000;
  color:#fff;
}

/* NAVBAR */
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  background:#111;
}

.logo{
  font-size:22px;
  font-weight:bold;
}

nav ul{
  display:flex;
  list-style:none;
}

nav ul li{
  margin:0 15px;
}

nav ul li a{
  text-decoration:none;
  color:#fff;
  font-size:14px;
}

.btn{
  background:#00bcd4;
  padding:10px 20px;
  border-radius:6px;
  text-decoration:none;
  color:#000;
  font-weight:bold;
}

/* HERO */
.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:100px 8%;
}

.hero-text h4{
  color:#ccc;
  margin-bottom:15px;
}

.hero-text h1{
  font-size:48px;
}

.hero-text h1 span{
  color:#ff5722;
}

.hero-text h2{
  font-size:36px;
  margin:10px 0;
}

.hero-text p{
  max-width:500px;
  color:#bbb;
  margin-top:15px;
}

.socials i{
  font-size:22px;
  margin:20px 10px 0 0;
  color:#00bcd4;
  cursor:pointer;
}

.hero-img img{
  width:300px;
  border-radius:50%;
  border:6px solid #00bcd4;
}

/* SECTIONS */
section{
  padding:80px 8%;
}

.section-title{
  text-align:center;
  font-size:36px;
  margin-bottom:40px;
}

/* CARDS */
.cards{
  display:flex;
  gap:30px;
  justify-content:center;
  flex-wrap:wrap;
}

.card{
  background:#0d1b2a;
  padding:30px;
  border-radius:12px;
  width:300px;
  text-align:center;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
}

.card h3{
  margin-bottom:10px;
}

.card span{
  color:#00bcd4;
  font-weight:bold;
}

/* SKILLS */
.skill-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
  gap:30px;
  max-width:600px;
  margin:auto;
}

.skill{
  background:#0d1b2a;
  padding:40px;
  text-align:center;
  border-radius:12px;
  font-size:40px;
  color:#00bcd4;
}

/* CONTACT */
.contact-card{
  background:#f4f4f4;
  color:#000;
  max-width:500px;
  margin:auto;
  padding:40px;
  border-radius:20px;
  text-align:center;
}

.contact-card p{
  margin:10px 0;
}

footer{
  text-align:center;
  padding:20px;
  background:#111;
  font-size:14px;
}